<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout= "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout" lang=fr>
<head>
    <meta charset="UTF-8">
    <title>MyBoutique</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
    th:href="@{css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">
	<div class="container">
		<div class= "panel panel-primary"></div>
		<div class="panel-heading">Articles list</div>
		<div class="panel-body">
			<form th:action="@{/index}" method="get">
				<label>Type a keyword:</label>
				<input type="text" name="keyword" th:value="${keyword}">
			<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
    <table class="table">
    	<tr>
    		<th>ID</th> <th>Description</th> <th>Price</th>
    	</tr>
    	<tr th:each="a:${listArticle}">
    		<td th:text="${a.id}"></td>
    		<td th:text="${a.description}"></td>
    		<td th:text="${a.price}"></td>
    		<td>
    			<a class="btn btn-danger" th:href="@{/delete(id=${a.id} , page=${currentPage} , keyword=${keyword})}">Delete</a>
    		</td>
    		 <td>
    			<a class="btn btn-primary">Edit</a>
    		</td>
    	</tr>
    </table>
    </div>
   </div>
</body>
<footer>
	<ul class="pagination">
		<li class="page-item">
			<button class="page-item" onclick="localhost:8081/index?page:1" type="button">Prev</button>
		</li>
		<!-- Permet d'indiquer sur quelle page on se trouve, et affiche les autres pages durant la navigation (avec l'index de la page en URL)
		une boucle permet ici d'afficher l'ensemble des pages-->
		<li class="page-item" th:class="${currentPage==status.index}?'active':''" th:each="page,status:${pages}">
			<!-- Indique au navigateur la page courante, et met en évidence la page actuelle -->
			<!-- Ajout du keyword pour garder le mot clé recherché dans la barre de recherche -->
			<a class="page-link" th:href="@{/index(page=${status.index}, keyword=${keyword})}" th:text="${status.index}"></a>
		</li>
		<li class="page-item">
			<button class="page-item" onclick="localhost:8081/index?page:1" type="button">Next</button>
		</li>
	</ul>
</footer>
</html>